/* @import '@radix-ui/colors/black-alpha.css'; */
/* @import '@radix-ui/colors/mauve.css'; */
/* @import '@radix-ui/colors/violet.css'; */
.projects :hover {
  filter: brightness(105%);
  text-decoration: underline 1px solid black;
  transform: scale(1.01);
}
#navLink:hover {
  color: orange;
}
#bookmark:hover {
  transform: scale(0.99);
}
#hover:hover {
  color: orange;
  cursor: pointer;
  transform: scale(1.01);
}
#div-ques:hover {
  color: orange;
  cursor: pointer;
  transform: scale(1.01);
}
